body{
    font-family: 'Raleway', sans-serif;
   max-width: 70%;
    min-width: 50%;
    margin: auto;

}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.myImage{
    width: 33%;
}
.text{
    width: 66%;

}
.innerText{
    padding: 3%;
}
#passport, #university, #work, #courses, #certificate {
    padding: 5%;
}

section:nth-child(even){
    background-color: seashell;
}
section:nth-child(odd){
    background-color: #f9f9f9;
}

#hobbies{
    margin: auto;

}
.interestText{
    text-align: center;
    font-weight: bold;
}